.venv
plan.md
diploma_pronunciation.egg-info
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
neural.md
next.md
data/reference_paths.sqlite3
upd.md
app/__pycache__/reference_db.cpython-312.pyc
score.md
mfa.md
rename.py
.env
score2.md
tree.md
classic.md
sakoe_chiba_band.md
change_score.md
data/eval
evaluation/data.csv
evaluation/visual/score_results.csv
evaluation/visual/score_graph.png
models/
evaluation/visual/